<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecordsWeb</title>
    <link rel="stylesheet" href="~/css/bootswatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecordsWeb.styles.css" asp-append-version="true" />
</head>
<body class="d-flex">
    <div class="side-menu bg-primary d-flex justify-content-center align-items-center p-5">
        <div class="h-50 w-100 d-flex flex-column justify-content-evenly align-items-center">
            <a class="pointer" asp-controller="Home" asp-action="LinkEntity">
                <h2 class="text-light display-6">Link Entity</h2>
            </a>
            <a class="pointer" asp-controller="Home" asp-action="WebService">
                <h2 class="text-light display-6">Web Service</h2>
            </a>
         </div>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
