@model Record
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary text-center">Create Record</h2>
            <hr />
        </div>

        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control mt-1" type="text" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control mt-1" type="text" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate">Birth Date</label>
            <input asp-for="BirthDate" class="form-control mt-1" type="date" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>

        <div class="mt-4 mb-3">
            <button class="btn btn-info rounded" style="width:150px">Create</button>
            <a asp-controller="Home" asp-action="WebService" class="btn btn-primary rounded px-2 fs-6">
                Back To Entity Menu
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}